mat-card {
  max-width: 300px;
  background-color:#212121; 
  margin: 0 auto 10px;
  border-radius: 15px;
  box-shadow: -5px -5px 30px rgb(0, 0, 0, 0.1),
              5px 5px 30px rgb(0, 0, 0, 0.1), 
          inset -50px -50px 50px rgba(0, 0, 0, 0.2),
          inset 50px 50px 50px rgba(0, 0, 0, 0.1) !important
  // box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3) !important;
}