<header>
  <figure class="page-hero">
    <picture>
      <img src="../../../assets/virgen-nueva.jpg" loading="lazy" intrinsicsize>
    </picture>
    <figcaption>
      <h2>Virgen de la Nueva</h2>
      <p>Parroquia de San Martín Obispo | San Martín de Valdeiglesias (Spain)</p>
    </figcaption>
  </figure>
</header>

<main>
  <section>
    <h1>Museum</h1>
  </section>

  <section>
    <h2>What to do?</h2>
    <p>you can visit the collection and inmerse in the history of the Virgin New of San Martín de Valdeiglesias</p>  
  </section>
  
  <section>
    <h2>Opening hours</h2>
    <p>Friday: 10am to 8pm</p>
    <p>Saturday: 10am to 8pm</p>
  </section>

  <section>
    <h2>Virtual visit</h2>
    <p>enjoy this 360 view of the everyday collection</p>
  </section>

  <section>
    <h2>Temporary collections</h2>
    <div class="grid">
      <mat-card class="grid-item-anim card-hero">
        <div class="card-hero-div">
          <img mat-card-image class="card-hero-img" src="/assets/pray-novena.jpg" alt="Photo of a Shiba Inu">
          <div class="card-hero-text">
            <mat-card-title>Yellow rope of the virgin mary</mat-card-title>
            <mat-card-subtitle>from January to April</mat-card-subtitle>
          </div>  
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>PRAY</button>
        </mat-card-actions> 
      </mat-card>

      <mat-card class="grid-item-anim card-hero">
        <div class="card-hero-div">
          <img mat-card-image class="card-hero-img" src="/assets/pray-novena.jpg" alt="Photo of a Shiba Inu">
          <div class="card-hero-text">
            <mat-card-title>Yellow rope of the virgin</mat-card-title>
            <mat-card-subtitle>from January to April</mat-card-subtitle>
          </div>  
        </div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>PRAY</button>
        </mat-card-actions> 
      </mat-card>
    </div>
  </section>
</main>

<footer>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12159.976455501275!2d-4.4098658617123565!3d40.364654869937624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd404d344ac23f4d%3A0xdf8aa08748cd121!2s28680%20San%20Mart%C3%ADn%20de%20Valdeiglesias%2C%20Madrid!5e0!3m2!1sen!2ses!4v1617632342352!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</footer>