:host {
    padding: 24px;
}
.intro {
    font-family: 'Im Fell English';
    text-align: center;
    margin: auto 10px;
}
h6 {
    font-style: italic;
}
mat-card {
    font-family: 'Im Fell English';
    background-color:#212121; 
    margin: 0 auto 10px;
}
button {
    margin: 5px;
}