<figure class="page-hero">
  <picture>
    <img src="../../../assets/virgen-nueva.jpg" loading="lazy" intrinsicsize>
  </picture>
  <figcaption>
    <h2>Virgen de la Nueva</h2>
    <p>Parroquia de San Martín Obispo | San Martín de Valdeiglesias (Spain)</p>
  </figcaption>
</figure>


<section class="grid">
  <mat-card class="grid-item-anim card-hero">
    <div class="card-hero-div">
      <img mat-card-image class="card-hero-img" src="/assets/pray-novena.jpg" alt="Photo of a Shiba Inu">
      <div class="card-hero-text">
        <mat-card-title>Novena</mat-card-title>
        <mat-card-subtitle>reza la Novena a la Virgen de la Nueva</mat-card-subtitle>
      </div>  
    </div>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRAY</button>
    </mat-card-actions> 
  </mat-card>

  
</section>