@use '@angular/material' as mat;

html {
  height: 100%;

  // 1. Aplicación del Tema Claro
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));

  // 2. Personalización de la escala tipográfica con 'rem'
  // Sobrescribimos las variables de sistema que genera Angular Material
  --mat-sys-headline-large: 700 4rem/4rem Playfair Display, sans-serif !important; // h1
  --mat-sys-headline-medium: 600 3.5rem/3.5rem Playfair Display, sans-serif !important; // h2
  --mat-sys-headline-small: 500 3rem/3rem Playfair Display, sans-serif !important; // h3
  --mat-sys-title-large: 400 2.5rem/2.5rem Montserrat, sans-serif !important; // h4
  --mat-sys-title-medium: 300 2rem/2rem Montserrat, sans-serif !important; // h5
  --mat-sys-title-small: 200 1rem/1rem Montserrat, sans-serif !important; // h6
}

// Tema oscuro
html.dark-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));
}

// 3. Mapeo explícito a las etiquetas HTML
h1 { font: var(--mat-sys-headline-large); margin: 0 0 1rem 0; }
h2 { font: var(--mat-sys-headline-medium); margin: 0 0 0.875rem 0; }
h3 { font: var(--mat-sys-headline-small); margin: 0 0 0.75rem 0; }
h4 { font: var(--mat-sys-title-large); margin: 0 0 0.5rem 0; }
h5 { font: var(--mat-sys-title-medium); margin: 0 0 0.5rem 0; }
h6 { font: var(--mat-sys-title-small); margin: 0 0 0.5rem 0; }

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition: background-color 0.3s ease, color 0.3s ease;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
