<h1>Novena a la virgen de la nueva</h1>

<h2>History</h2>

<h2>Pray</h2>
<h3>Where</h3>
<p> At the church</p>
<h3>How</h3>
<mat-card class="example-card">
  <img mat-card-image src="./../../../assets/novena.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-raised-button routerLink="novena">PRAY</button>
  </mat-card-actions>
</mat-card>

<h2>Procession</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24319.95326826109!2d-4.41862069155777!3d40.36465387974022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd404d344ac23f4d%3A0xdf8aa08748cd121!2s28680%20San%20Mart%C3%ADn%20de%20Valdeiglesias%2C%20Madrid!5e0!3m2!1sen!2ses!4v1617730065582!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<h2>Auction</h2>
<p>what to do</p>


<h1>Pilgrimage</h1>
<h2>History</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QVdSdjEWB30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Offering</h1>

<mat-card class="example-card">
  <img mat-card-image src="./../../../assets/novena.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-raised-button routerLink="novena">10€</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <img mat-card-image src="./../../../assets/novena.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-raised-button routerLink="novena">50€</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <img mat-card-image src="./../../../assets/novena.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-raised-button routerLink="novena">100€</button>
  </mat-card-actions>
</mat-card>
